body{
    font-family: Arial;
    background:#f5f5f5;
    text-align:center;
}

.container{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:20px;
}

#crossword{
    display:grid;
    gap:3px;
}

#crossword input{
    width:45px;
    height:45px;
    font-size:20px;
    text-align:center;
    border:2px solid #333;
    text-transform:uppercase;
}

.prefilled{
    background:#d4ffd4;
    font-weight:bold;
    cursor:not-allowed;
}

.correct{
    background:#8effa8;
}

.wrong{
    background:#ff8a8a;
}

.highlight{
    border:2px solid #ffbf00;
}

#cluesBox{
    text-align:left;
    width:250px;
}

#checkBtn{
    margin-top:20px;
    padding:12px 20px;
    font-size:18px;
    cursor:pointer;
}

#result{
    font-size:22px;
    margin-top:15px;
}
